<fieldset>
    <legend>Sales Order</legend>
    <table style="width:30%">
        <tr>
            <td>Order Number</td>
            <td>
                <input type="text" name="Id" value=""  id="txtId" />
                <input type="text" name="ordernumber" value="" placeholder="Order Number" id="txtOrdernumber" />
            </td>
            <td>Customer Name</td>
            <td>
                <input type="text" name="customername" value="" placeholder="CustomerName" id="txtcustomername" />
            </td>
            <td>Order Date</td>
            <td>
                <input type="date" name="Orderdate" value="" placeholder="Order date" id="Orderdate" />
            </td>
            <td>Status</td>
            <td>
                <input type="checkbox" name="ISCompleted" placeholder="Order date" id="ISCompleted" />
            </td>
            <td>
                <input type="file" name="ImageFile" value="" id="ImageFile" />
            </td>
        </tr>
    </table>
</fieldset>